 .footer a{
    text-decoration: none;
    padding: 0px 10px;
    color: white;
 }

 .footer{
    padding: 10px;
    background: black;
 }

 h1{
    font-size: 20px;
    color: white;
 }


 i{
    color: white;
    padding: 0px 5px;    // 0 jo he wo top aur bottom kay leay , and 10px left ,right kay leay 
    font-size: 15px;
 }