

<div class="container" style="height: 600px;">
    <h1 class="text-center mb-4 mt-5">Customers <span style="color: brown; font-weight: bold; text-decoration: underline;">Fresh Food</span></h1>
    <div class="row">
        <div class="col-lg mt-4" *ngIf="Menudata">
            <div style="text-align: center;">
                <p style="padding: 0%; margin: 0%;"><a routerLink="/menu" class="btn btn-sm bg-dark mb-2" style="color: azure;">back</a></p>
                <img src="{{Menudata[0].foodimg}}" height="250px" style="border-radius: 20px;">
                <h1 class="mt-3 mb-3" style="font-size: 25px;">Food Name: {{Menudata[0].foodname}}</h1>
                <p>Price: {{Menudata[0].foodprice | currency: 'PKR'}}</p>
            </div>
        </div>
   </div>
</div>

